body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAA0DE;
}

div {
    position: relative;
}

p {
    position: absolute; 
    z-index: 10; 
    color: white;
    left: 10px; 
    top: 10px; 
    margin: 0; 
    font-family: sans-serif; 
    font-size: 14px;
}

img {
    position: absolute;
    z-index: 10;
    top: 250px;
    left: 350px;
    width: 30%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: grid; 
    margin: auto; 
    padding: 5px; 
    margin-top: 10px; 
    font-family: sans-serif; 
    font-size: 14px; 
    background-color: black; 
    color: white; 
    letter-spacing: 1;
}
